.header {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .header-logo img {
  height: 40px;
} */
.header-search-bar {
  margin-top: 10px;
}
.header-buttons {
  margin-top: 10px;
}
.header-buttons .btn {
  margin-right: 5px;
}

.bg-red {
  background-color: #600;
  padding: 2px;
  margin: 10px;
  border-radius: 7px;
}
.bg-red .nav-link {
   color: white;
}
.navbar-toggler-icon {
    background-color: rgb(148, 36, 36);
    border-radius: 5px;
  }

.dropdown-item:hover {
    background-color: #700;
  }
.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.carousel-small {
    width: 70%;
    margin: 0 auto; /* Center the carousel */
}
.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-display: rgb(1, 1, 47);
  padding: 10px 0px 0px 10px;
  border-bottom: 3px solid black;
}
